body {
    margin: 0;
    padding: 0;
    background: url(../Images/condominiofondo.jpg) no-repeat center top;
    background-size: cover;
    font-family: homero 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
  }

  .login-box {
    width: 320px;
    height: 420px;
    background: rgb(253, 253, 253);
    color: rgb(0, 0, 0);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
  }

 .login-box .logo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -60px;
    left: calc(50% - 50px);
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.15);

 }

 .login-box h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 25px;

 }

 .login-box label{
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
    line-height: 25px;
 }

 .login-box input{
    width: 100%;
    margin-bottom: 20px;
 }

 .login-box input[type="text"],
 .login-box input[type="password"]{
    border: none;
    border-bottom: 1px solid #000;
    background: transparent;
    outline: none;
    height: 40px;
    color: #000;
    font-size: 16px;
 }

 .contenedor-boton{

    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
 }

 .login-box button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 300%;
    height: 40px;
    background: #141414;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    transition: .3s ease all;
    border-radius: 5px;   
    position: relative;
    overflow: hidden; 
    font-family: homero 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }

 .login-box button span{
    position: relative;
    z-index: 2;
    transition: .3s ease all;
    
 }

 .login-box button::after{
    content: "";
    width: 100%;
    height: 100%;
    background: #c4b107;
    position: absolute;
    z-index: 1;
    top: -40px;
    left: 0;
    transition: .3s ease-in-out all;
 }

 .login-box button:hover::after{
    top: 0;
 }

 

 .login-box a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgray;
 }

 .login-box a:hover{
    color: #000;
 }